{% extends "LebedVideoBundle::layout.html.twig" %}

    {% block title %} {{ parent() }} Blog {% endblock %}
    {% block content %}
        {% for video in videos %}
            <span class="clear">{{ video.Title }} </span></br>

            {% if video.Image.Thumblnail is defined %}
                <img src=" {{ video.Image.Thumblnail }} "> </br></br>
            {% endif %}

            <a class="btn btn-info about"  href="{{ path('lebed_video_showVideoPage', {'slug': video.Slug}) }}" role="button">
                Подробнее
            </a>

            {#{{ video.Link | raw}} </br>#}
            {% if app.user %}
                <p><a class="btn btn-info clear" href="{{ path('lebed_video_copyVideoToUser', {'user_id': app.user.id, 'video_id': video.Id}) }}" role="button">Add video + </a></p>
            {% endif %}
            </br></br>
        {% endfor %}
    {% endblock %}


